html,
/*  * {
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}*/

body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}


input {
    font-size: 12px;
}
#hide-listings,
#show-listings {
    width: relative;
}
#map {
    bottom: 0px;
    height: 100%;
    /*left: 350px;*/
    
    position: absolute;
    right: 0px;
}
#container {
    background-color: #85929e;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

#left-column {
    padding-top: 2%;
    border-color: black;
}

#search-info {
    text-align: center;
    align-content: center;
}